@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#main_page {
  z-index: 3;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#game_container {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  z-index: 1;
}

#root_container {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

.custom_button {
  position: fixed;
  bottom: 24px;
  width: 72px;
  height: 72px;
  border-radius: 12px;
  background: rgba(0,0,0,0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  }


.hidden {
  display: none;
}